@page "/AddCompletedRun"
@using FPVDevelopment.Components.Data.Classes
@using FPVDevelopment.Components.Data.Models
@using FPVDevelopment.Components.Globals
@using Microsoft.EntityFrameworkCore
@using static FPVDevelopment.Components.Globals.Enums
@inject CompletedRunService completedRunService;
@inject MapService mapService;
@inject DroneService droneService;
@inject CurrentUser currentUser;
@rendermode InteractiveServer

<h1>Add a completed run to the database.</h1>

<EditForm FormName="AddCompletedRunForm" Model="@completedRun" OnSubmit="HandleSubmit">
    <label for="MapInput">Select Map: </label>
    <InputSelect id="MapInput" @bind-Value="completedRun.MapID">
        <option value="">-- Select a Map --</option>
        @foreach (var map in mapList)
        {
            string displayTag = $"{map.Name} ({map.Difficulty})";
            <option value="@map.ID">@displayTag</option>
        }
    </InputSelect>
    <br /><br />

    <label for="DroneInput">Select Drone: </label>
    <InputSelect id="DroneInput" @bind-Value="completedRun.DroneID">
        <option value="">-- Select a Drone --</option>
        @foreach (var drone in droneList)
        {
            string displayTag = $"{drone.Name} ({Enums.GetEnumDescription(drone.Size)})";
            <option value="@drone.ID">@displayTag</option>
        }
    </InputSelect>
    <br /><br />

    <label>Input Time: </label>
    <input type="number" @bind="minutes">
    <input type="number" @bind="seconds">
    <input type="number" @bind="milliseconds">
    <br /><br />

    <label for="CrashInput">Number of Crashes / Resets: </label>
    <InputNumber id="CrashInput" @bind-Value="@completedRun.CrashCount"></InputNumber>
    <br /><br />

    <button type="submit" class="btn-outline-primary" disabled="@_isSubmitDisabled">Add Completed Run</button>
</EditForm>

@code {
    CompletedRun completedRun = new CompletedRun();
    IList<Map> mapList = [];
    IList<Drone> droneList = [];
    private int minutes;
    private int seconds;
    private int milliseconds;
    private TimeSpan CreateTimeSpan() => new TimeSpan(0, 0, minutes, seconds, milliseconds);

    protected override async Task OnInitializedAsync()
    {
        mapList = await  mapService.GetMaps();
        droneList = await droneService.GetDrones(currentUser.User);
        currentUser.CurrentUserChangedEvent += OnCurrentUserChanged;
    }

    private void OnCurrentUserChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        currentUser.CurrentUserChangedEvent -= OnCurrentUserChanged;
    }

    private bool _isSubmitDisabled =>
        completedRun.MapID is 0 ||
        completedRun.DroneID is 0 ||
        string.IsNullOrWhiteSpace(minutes.ToString()) ||
        string.IsNullOrWhiteSpace(seconds.ToString()) ||
        string.IsNullOrWhiteSpace(milliseconds.ToString());


    public void HandleSubmit(EditContext editContext)
    {
        CompletedRun newCompletedRun = (CompletedRun)editContext.Model;
        newCompletedRun.Time = CreateTimeSpan(); 
        completedRunService.AddCompletedRun(newCompletedRun, currentUser.User);
    }
}